<!-- The Modal -->
<div class="modal" id="passModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br>

            <!-- Modal body -->
            <form name="cng-psw-frm">
                <div class="form-group">
                    <label class="offset-1" for="new_pass">{{ _("New Password:") }}</label>
                    <input type="password" class="form-control input-sm col-10 offset-1" id="new_pass">
                </div>
                <div class="form-group">
                    <label class="offset-1" for="conf_pass">{{ _("Confirm Password:") }}</label>
                    <input type="password" class="form-control col-10 offset-1" id="conf_pass">
                </div>
                <div class="form-group">
                    <input type="hidden" name="cng-psw-id" id="cng-psw-id" value="">
                </div>
            </form>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" id="save-password" class="btn btn-success" data-dismiss="modal">Save</button>
            </div>

        </div>
    </div>
</div>
