<!doctype html>
<html class="no-js" lang="en" dir=ltr>
<head>
    <meta charset="utf-8">
    <title>

        PROJECT-<span class="bg-info">VIA</span> CMS

    </title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- fontawesome stylesheets-->
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet"/>


    <link rel="stylesheet" href="/static/_vendor/font-awesome/5.13.0/css/fontawesome.min.css">

    <link rel="stylesheet" href="/static/_vendor/bootswatch/4.4.1/dist/cerulean/bootstrap.min.css">

    <link rel="stylesheet" href="/static/_vendor/jquery-ui/1.12.1/jquery-ui.min.css">

    <link rel="stylesheet" href="/static/_vendor/fancytree/2.35.0/dist/skin-win8/ui.fancytree.min.css">

    <link rel="stylesheet" href="/static/_fordev/css/style.css">


    <script></script>

</head>

<body class="">


<nav class="nav navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
    <div class="container-fluid px-0">

        <div class="navbar-header font-weight-bold">

            <a href="/" class="navbar-brand ">
                <span style="color:#ffffff; background-color: #348eda; padding: 0.1rem 0.2rem 0.2rem 0.2rem; ">Project -</span><span
                    style="color: #ffffff; background-color: #0b3251; padding: 0.1rem 0.3rem 0.2rem 0.3rem; ">VIA</span>/CMS
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#via-navbar"
                    aria-controls="via-navbar" aria-expanded="false" aria-label="Toggle nav">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="via-navbar">


            <ul class="nav navbar-nav font-weight-bold">
                <li class="nav-item mx-1"><a class="nav-link"
                                             href="/private/dashboard/news">Feed dashboard</a>
                </li>
                <li class="nav-item mx-1"><a class="nav-link"
                                             href="/private/dashboard/client">Device dashboard</a>
                </li>
            </ul>


            <ul class="nav navbar-nav font-weight-bold">
                <li class="nav-item mx-5"><a class="nav-link"
                                             href="/private/edition/price">Edit Prices</a>
                </li>
            </ul>


            <ul class="nav navbar-nav mx-5">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle font-weight-bold" data-toggle="dropdown" href=""
                       role="button" aria-haspopup="true" aria-expanded="true">New bulletin</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               href="/private/edition/news/bulletin/job_vacancy">
                            Job vacancy
                        </a></li>
                        <li><a class="dropdown-item"
                               href="/private/edition/news/bulletin/official_announcement">
                            Official statement/Decision
                        </a></li>
                        <li><a class="dropdown-item"
                               href="/private/edition/news/bulletin/missing_person">
                            Missing person
                        </a></li>
                        <li><a class="dropdown-item"
                               href="/private/edition/news/bulletin/lost_item">
                            Lost item
                        </a></li>
                        <li><a class="dropdown-item"
                               href="/private/edition/news/bulletin/found_item">
                            Found item
                        </a></li>
                        <li><a class="dropdown-item"
                               href="/private/edition/news/bulletin/aid_distribution">
                            Aid distribution
                        </a></li>
                        <li><a class="dropdown-item"
                               href="/private/edition/news/bulletin/vaccination_campaign">
                            Vaccination campaign
                        </a></li>
                        <li><a class="dropdown-item"
                               href="/private/edition/news/bulletin/event">
                            Event
                        </a></li>
                        <li><a class="dropdown-item"
                               href="/private/edition/news/bulletin/service_notification">
                            General service notification
                        </a></li>

                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-nav mx-5">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle font-weight-bold" data-toggle="dropdown" href=""
                       role="button" aria-haspopup="true" aria-expanded="true">New notice</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               href="/private/edition/news/notice/medical">
                            Medical
                        </a></li>
                        <li><a class="dropdown-item"
                               href="/private/edition/news/notice/weather">
                            Weather
                        </a></li>
                        <li><a class="dropdown-item"
                               href="/private/edition/news/notice/security_and_safety">
                            Security and Safety
                        </a></li>
                        <li><a class="dropdown-item"
                               href="/private/edition/news/notice/natural_disaster">
                            Natural disater
                        </a></li>
                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-nav mx-5">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle font-weight-bold" data-toggle="dropdown" href=""
                       role="button" aria-haspopup="true" aria-expanded="true">New Advice</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               href="/private/edition/document/advice/personal_finance">
                            Personal
                        </a></li>
                        <li><a class="dropdown-item"
                               href="/private/edition/document/advice/agriculture">
                            Agriculture
                        </a></li>
                        <li><a class="dropdown-item"
                               href="/private/edition/document/advice/health">
                            Health
                        </a></li>
                        <li><a class="dropdown-item"
                               href="/private/edition/document/advice/hygiene">
                            Hygiene
                        </a></li>
                        <li><a class="dropdown-item"
                               href="/private/edition/document/advice/family">
                            Family
                        </a></li>
                        <li><a class="dropdown-item"
                               href="/private/edition/document/advice/psychology">
                            Psychology
                        </a></li>
                        <li><a class="dropdown-item"
                               href="/private/edition/document/advice/safety">
                            Safety
                        </a></li>
                        <li><a class="dropdown-item"
                               href="/private/edition/document/advice/women">
                            Women
                        </a></li>
                        <li><a class="dropdown-item"
                               href="/private/edition/document/advice/general_advice">
                            General Advice
                        </a></li>
                    </ul>
                </li>
            </ul>


            <ul class="navbar-nav mx-1">
                <li class="nav nav-item dropdown">
                    <a class="nav-link dropdown-toggle font-weight-bold" data-toggle="dropdown" href=""
                       role="button" aria-haspopup="true" aria-expanded="true">Tools</a>
                    <ul class="dropdown-menu" x-placement="bottom-start"
                        style="position: absolute; transform: translate3d(0rem, 1.75rem, 0rem); top: 0rem; will-change: transform;">
                        <li><a class="dropdown-item"
                               href="/private/dashboard/basket">Basket dashboard</a>
                        </li>

                        <li><a class="dropdown-item"
                               href="/private/edition/basket">Create price basket</a>
                        </li>

                        <hr>

                        <li><a class="dropdown-item"
                               href="/private/edition/news/free_form/any">Create free form json notice</a>
                        </li>

                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-nav mx-">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle font-weight-bold" data-toggle="dropdown" href=""
                       role="button" aria-haspopup="true" aria-expanded="true">Admin</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               href="/private/admin/dashboard/user">User dashboard</a>
                        </li>
                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item mx-1">
                    <a class="nav-link" href="/private/admin/detail/my_profile">
                        My Profile
                    </a>
                </li>
                <li class="nav-item mx-0">
                    <a class="nav-link" title="logout" href="/logout">
                        <i class='fas fa-sign-out-alt'></i>
                    </a>
                </li>
            </ul>


            <ul class="nav navbar-nav ml-auto">
                <form>
                    <select id="language_picker" class="selectpicker p-0-5" data-width="fit">

                        <option value=ar
                                data-content='ar'>عربي
                        </option>

                        <option value=en selected
                                data-content='en'>English
                        </option>

                    </select>
                </form>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div role="main">
        <div class="container">


        </div>

        <div class="container">

            <h1 class="pb-3 pt-2">VIA CMS</h1>

            <div class="jumbotron">


            </div>


        </div>

    </div>
</div>


<footer>
    <small>

        <ul class="company">
            <li> © 2020 - Pax Syriana Foundation</li>
        </ul>


    </small>
</footer>


<script type="text/javascript" src="/static/_vendor/jQuery/3.5.0/jquery-3.5.0.min.js"></script>

<script type="text/javascript" src="/static/_vendor/bootstrap/4.4.1/dist/js/bootstrap.bundle.js"></script>

<script type="text/javascript" src="/static/_vendor/jquery-ui/1.12.1/jquery-ui.min.js"></script>

<script type="text/javascript" src="/static/_vendor/fancytree/2.35.0/dist/jquery.fancytree-all.min.js"></script>

<script type="text/javascript" src="/static/_fordev/js/jqscript.js"></script>

<script type="text/javascript" src="/static/_fordev/js/script.js"></script>


<script type="text/javascript">
    $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
        if (!$(this).next().hasClass('show')) {
            $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
        }
        var $subMenu = $(this).next(".dropdown-menu");
        $subMenu.toggleClass('show');
        $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
            $('.dropdown-submenu .show').removeClass("show");
        });
        return false;
    });
</script>


</body>
</html>