{% extends "layout.html" %}

{% block page_title %}{{ '{} {}'.format(item.title, item.id) }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>{{ "Post Id " + item.post_id }}</h1>

                <h3>{{ _("Title:&emsp;") + item.title }}</h3>

                <h4>{{ _("Headline:&emsp;") +item.headline }}</h4>

                <p class="small">
                    by <a href="{{ url_for("private.user.detail_user.detail_user", user_id=item.user_id) }}">{{ item.user }}</a>&nbsp;&nbsp;
                    | &nbsp;&nbsp;{{ item.posted }}
                </p>

                <hr>

                <h5 class="mt-0">{{ _("Caption:") }}</h5>
                <p style="margin-right:30px; margin-left:30px;">
                    {% if item.caption %}
                        <p>{{ item.caption }}</p>
                    {% else %}
                        <p>{{ _("No caption") }}</p>
                    {% endif %}
                </p>

                <h5 class="mt-4">{{ _("More Information:") }}</h5>
                <p style="margin-right:30px; margin-left:30px;">

                    {% if item.more_info %}
                        <p>{{ item.more_info }}</p>
                    {% else %}
                        <p>{{ _("No more info") }}</p>
                    {% endif %}
                </p>

                <h5 class="mt-4">{{ _("Main medias:") }}</h5>
                <p style="margin-right:30px; margin-left:30px;">
                    {% if item.rendition_main_filename %}
                        <img src="{{ url_for('private.uploaded_file', filename=item.rendition_main_filename) }}" width="300">
                    {% else %}
                        <p>{{ _("No media") }}</p>
                    {% endif %}
                </p>

                <h5 class="mt-4">{{ _("Thumbnail media:") }}</h5>
                <p style="margin-right:30px; margin-left:30px;">

                    {% if item.rendition_thumbnail_filename %}
                        <img src="{{ url_for('private.uploaded_file', filename=item.rendition_thumbnail_filename) }}" width="40">
                    {% else %}
                        <p>{{ _("No media") }}</p>
                    {% endif %}
                </p>
                <hr>
                {#                    <a class="btn btn-primary" href="">{{ _("Edit") }}</a> TODO add edition#}
            </div>

            <div class="col-md-4" style="border-left:1px solid #ccc;">
                <div class="well">
                    <h4>{{ _("Feedback") }}</h4>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="small"></span>
                            <p>{{ _("Not implemented") }}</p>
                            <span class="small text-muted" style="border-top:1px dotted #ccc;">
{#                                <em>02/02/2020 - 16:04</em>#}
                                <em>{{ _("Coming soon") }}</em>
                            </span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
    </script>
{% endblock %}