{% extends "layout.html" %}
{% block content %}
    <div class="container">

        <h1 class="pb-3 pt-2">{{ _('VIA CMS') }}</h1>

        <div class="jumbotron">
{#            <p>{{ _('VIA CMS.') }}</p>#}
{#            <p><a href="" class="btn btn-primary btn-large">{{ _('Learn more ') }}&raquo;</a></p>#}
        </div>

{#        <div class="body-content">#}
{#            <div class="row">#}
{#                <div class="col-lg-3">#}
{#                    <h2><i class="fa fa-code"></i> {{ _('News 1') }}</h2>#}
{#                    <p>{{ _('There is a news.') }}</p>#}
{#                    <p><a class="btn btn-default" href="">{{ _('Learn more ') }}&raquo;</a></p>#}
{#                </div>#}
{#                <div class="col-lg-3">#}
{#                    <h2><i class="fa fa-code"></i> {{ _('News 2') }}</h2>#}
{#                    <p>{{ _('There is a second news.') }}</p>#}
{#                    <p><a class="btn btn-default" href="">{{ _('Learn more ') }}&raquo;</a></p>#}
{#                </div>#}
{#                <div class="col-lg-3">#}
{#                    <h2><i class="fa fa-code"></i> {{ _('News 3') }}</h2>#}
{#                    <p>{{ _('There is a third news.') }}</p>#}
{#                    <p><a class="btn btn-default" href="">{{ _('Learn more ') }}&raquo;</a></p>#}
{#                </div>#}
{#                <div class="col-lg-3">#}
{#                    <h2><i class="fa fa-code"></i> {{ _('News 4') }}</h2>#}
{#                    <p>{{ _('There is a fourth news.') }}</p>#}
{#                    <p><a class="btn btn-default" href="">{{ _('Learn more ') }}&raquo;</a></p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}

