{% extends "layout.html" %}

{% block page_title %}{{ '{} {}'.format(item.title, item.id) }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>{{ "Post Id " + item.post_id }}</h1>

                <h3>{{ _("Title:&emsp;&emsp;&emsp;") + item.title }}</h3>

                <h4>{{ _("Headline:&emsp;") +item.headline }}</h4>

                <p class="small">
                    by <a href="{{url_for("private.user.detail_user.detail_user", user_id=item.user_id)}}">{{ item.user }}</a>&nbsp;&nbsp; | &nbsp;&nbsp;{{ item.posted }}
                </p>

                <hr>

                <h5>{{ _("Geoloc:") }}</h5>
                <p style="margin-right:30px; margin-left:30px;">
                    {% for k,v in item.geoloc_list.items() %}
                        <strong>{{ k }}: </strong>{{ v }} <br>
                    {% endfor %}
                </p>

                <h5>{{ _("Bulletin:") }}</h5>
                <p style="margin-right:30px; margin-left:30px;">
                    {% for k,v in item.body_dict.items() %}
                        <strong>{{ k }}: </strong>{{ v }} <br>
                    {% endfor %}
                </p>

                <h5>{{ _("Contact list:") }}</h5>
                <p style="margin-right:30px; margin-left:30px;">
                    {% if item.contact_dict %}
                        {% for k,v in item.contact_dict.items() %}
                            {% if 'http' in v %}
                                <strong>{{ k }}: </strong>
                                <a href="{{ v }}" target="_blank">{{ v }}</a> <br>
                            {% else %}
                                <strong>{{ k }}: </strong>{{ v }} <br>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <em>{{ _("There is no contact information") }}</em>
                    {% endif %}
                </p>

                <h5>{{ _("More Information:") }}</h5>
                <p style="margin-right:30px; margin-left:30px;">{{ item.more_info }}</p>

                <h5>{{ _("Renditions:")}}</h5>
                <p style="margin-right:30px; margin-left:30px;">{{ item.renditions }}</p>

                <hr>
{#                    <a class="btn btn-primary" href="">{{ _("Edit") }}</a> TODO add edition#}
            </div>

            <div class="col-md-4" style="border-left:1px solid #ccc;">
                <div class="well">
                    <h4>{{ _("Feedback") }}</h4>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="small">Client-12</span>
                            <p>{{ _("New Feedback") }}</p>
                            <span class="small text-muted" style="border-top:1px dotted #ccc;">
                                <em>02/02/2020 - 16:04</em>
                            </span>
                        </li>
                        <li class="list-group-item">
                            <span class="small">Client-9</span>
                            <p>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </p>
                            <span class="small text-muted" style="border-top:1px dotted #ccc;">
                                <em>20/12/2019 - 10:26</em>
                            </span>
                        </li>
                        <li class="list-group-item">
                            <span class="small">Client-33</span>
                            <p>Old Feedback</p>
                            <span class="small text-muted" style="border-top:1px dotted #ccc;">
                                    <em>04/12/2019 - 13:54</em>
                            </span>
                        </li>
                    </ul>
                    <p class="small"><br><br><br> feedback_definition: {{ item.feedback_definition }} </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
    </script>
{% endblock %}